// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container{
  width: 80%;
  margin: 0 auto;
}

.question{
  padding: 10px;
  margin: 20px;
}

.border-left {
  border-left: 5px solid gray;
}

.answer {
  background-color: #FEFFDE;
  padding: 10px;
  margin: 20px;
}
